body {
    background-color: aliceblue;
    color: indigo;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tarjeta {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

/* Estilos para la imagen */
.tarjeta img {
    width: 100%;
    height: auto;
}

/* Estilos para el contenido de la tarjeta */
.contenido {
    padding: 20px;
}